[submodule "plugins/itamae-plugin-recipe-rbenv"]
	path = plugins/itamae-plugin-recipe-rbenv
	url = https://github.com/k0kubun/itamae-plugin-recipe-rbenv.git
[submodule "plugins/itamae-plugin-resource-ghq"]
	path = plugins/itamae-plugin-resource-ghq
	url = https://github.com/k0kubun/itamae-plugin-resource-ghq.git
[submodule "plugins/itamae-plugin-resource-pip"]
	path = plugins/itamae-plugin-resource-pip
	url = https://github.com/katsyoshi/itamae-plugin-resource-pip.git
